.qoute{
    display: flex;
    align-content: center;
    margin: auto;
}

#dropmeny{
    display: grid;
    grid-template-columns:repeat(4,1fr);
}

.rubrik{
 display: flex;  
 justify-content: center;
 padding-top:64px; 
}

h1{
align-self: center;}

.overlay{
    align-self: center;
}
